header {
  background-color: #A80F2A;
  padding: 1px 0 30px 0;
  text-align: center;
  color: white;
  display: inline-flex;
  width: 100%;
}


footer {
  padding: 10px 10px;
  background-color: #A80F2A;
  margin: 20px;
  color: white;
}

.page_header {
  margin: 10px;
  padding: 10px;
}

#menu {
  display: inline;
}

#menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#menu li {
  padding: 10px;
  display: inline;
}

#menu a {
  text-decoration: none;
  color: white;
}

#cornellcircleklogo {
  width: 40%;
  display: inline-block;
}

#current_page {
  font-weight: bold;
  color: black;
  padding: 2px 2px 2px 2px;
}

#facebook_logo {
  float: right;
}

#copyright_message {
  float: left;
}
.site-footer {
  padding: 10px 10px;
  background-color: #A80F2A;
  color: white;
  height: 90px;
}

.title_div {
  float: left;
}
