header {
  background-color: #A80F2A;
  padding-bottom: 30px;
  padding-left: 0px;
  width: 100%;
  text-align: center;
  color: white;
}

header, div {
  margin: 0px;
}

body {
  margin: 0px;
  padding-bottom: 0px;
}

footer {
  width: 100%;
  background-color: #A80F2A;
  margin: 0px;
  color: white;
}


#menu {
  display: inline;
}

.page_header {
  margin: 20px;
}

#menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#menu li {
  padding: 10px;
  display: inline;
}

#menu a {
  text-decoration: none;
  color: white;
}

#cornellcircleklogo {
  height: 20%;
  width: 20%;
  display: inline-block;
}

#current_page {
  font-weight: bold;
  color: black;
  padding: 2px 2px 2px 2px;
}

#facebook_logo {
  float: right;
  padding-right: 10px;
}

#copyright_message {
  float: left;
  padding-left: 10px;
}
.site-footer {
  background-color: #A80F2A;
  color: white;
  position: relative;
  height: 80px;
  margin: 0px;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
}

#addevent ul {
  list-style: none;
}

#uploadFile ul {
  list-style: none;
}

#circleklogin ul {
  list-style-type: none;
  padding-right: 3%;
}

#login-wrap {
  text-align: center;
}

#menu li:hover {
  transition: 0.5s;
  background-color: #A0522D;
}
