# Ignore all files, except .gitignore files.
*
!.gitignore


# Example: uploads sub-folder "box" for table "boxes"

# Tell Git to NOT ignore your upload folders that correspond with your DB tables,
# Then tell Git to ignore all files in those folders
!/uploads/
/uploads/*

# Tell Git to NOT ignore your EACH seed file in your upload folders.

!/images
!/images/2.jpg
!/images/3.jpg
!/images/4.jpg
!/images/5.jpg
!/images/6.jpg
!/images/7.jpg
!/images/8.jpeg
!/images/9.jpeg
!/images/10.jpeg
!/images/11.jpg
!/images/12.jpg
!/images/13.jpg
!/images/14.jpg
!/images/15.jpg
!/images/16.jpg
!/images/17.jpg
!/images/18.jpg
!/images/19.jpeg
!/images/cornellcirclek_logo.png
!/images/fb_logo.png
!/images/logo2.png
!/images/adam_fekini.jpg
!/images/brendon_nguyen.jpg
!/images/christine_zhang.jpg
!/images/jason_lee.jpg
!/images/will_pascocello.jpg
